.benefits
    .container
        .news-block
            .news-block-title
                p.title.mb-0 EXPANDED BENEFITS
                p.description.mb-0 You’re covered with expanded access to care and benefits. Choose your plan type to learn more about the available no-cost options
            .news-block-list
                a.menu-item.d-flex.align-items-center(href="")
                    img(src='../../../assets/images/round.svg', alt="")
                    | Individual &amp; Family
                a.menu-item.d-flex.align-items-center(href="")
                    img(src='../../../assets/images/round.svg', alt="")
                    | Medicare
                a.menu-item.d-flex.align-items-center(href="")
                    img(src='../../../assets/images/round.svg', alt="")
                    | Medicaid