.home-page-layout
        header.header
                include ../../components/header/header-component.pug

        main
            //- section
            //-     include ../../components/calendar-popup/popup-calendar.pug
            
                
        footer.footer
                include ../../components/footer/footer-component.pug
