.home-page-layout
        header.header
                include ../../components/header/header-component.pug

        main
            section
                include ../../components/help/help-component.pug
            
                
        footer.footer
                include ../../components/footer/footer-component.pug
