.home-page-layout
	header.header
		include ../../components/header/header-component.pug
	
	main
		section
			include ../../components/tile-view/tile-view-component.pug
		//- section
		//- 	include ../../components/custom-embedd/custom-embedd.pug
		//- section
		//- 	include ../../components/login/login.pug
		//- section
		//- 	include ../../components/accordion/accordion-component.pug
		//- section
		//- 	include ../../components/help/help-component.pug
		//- section
		//- 	include ../../components/provider-news/provider-news-component.pug
		//- section
		//- 	include ../../components/custom-info1/custom-info1.pug
		//- section
		//- 	include ../../components/custom-info2/custom-info2.pug
		//- section
		//- 	include ../../components/custom-info3/custom-info3.pug
		
		
	footer.footer
		//- include ../../components/footer/footer-component.pug
