.home-page-layout
	header.header
		include ../../components/header/header-component.pug
	
	main
		section
			include ../../components/back-link/back-link-component.pug
		section
			include ../../components/accordion/accordion-component.pug
		section
			include ../../components/help/help-component.pug
		
		
	footer.footer
		include ../../components/footer/footer-component.pug
