.custom-info
    .container
        .custom-info-block.row.align-items-center
            .custom-info-block-left.col-12.col-lg-8
                .title More COVID-19 Information
                .description Stay informed with up-to-date information about COVID-19 from these trusted resources.
            .custom-info-block-right.col-12.col-lg-4
                a.menu-item.d-flex.align-items-center(href="")
                    img(src='../../../assets/images/round.svg', alt="")
                    | Centers for Disease Control and Prevention (CDC), Coronavirus
                a.menu-item.d-flex.align-items-center(href="")
                    img(src='../../../assets/images/round.svg', alt="")
                    | World Health Organization (WHO), Coronavirus