.custom-info
    .container
        .news-block
            .news-block-title
                p.title More COVID-19 Information
                p.description Stay informed with up-to-date information about COVID-19 from these trusted resources.
            .news-block-list
                a.menu-item.d-flex.align-items-center(href="" target='_blank')
                    img(src='../../../assets/images/round.svg', alt="")
                    | Centers for Disease Control and Prevention (CDC), Coronavirus
                a.menu-item.d-flex.align-items-center(href="" target='_blank')
                    img(src='../../../assets/images/round.svg', alt="")
                    | World Health Organization (WHO), Coronavirus