doctype html
html(lang='en')
	head
		//- Meta 
		include ../../includes/_meta-tags.pug
		
		title Anthem - UI
		
		link(rel='icon', href='favicon.ico', type='image/x-icon')
		
		include ../../includes/_style-sources.pug
	body
		include ../../components/page-level-component/home-page-layout.pug
		include ../../includes/_script-sources.pug


