.arrow {
    .back-link {
        padding: 40px 0px;
        background-color: #fff;
        a {
            color: #4079eb;
            font-weight: 700;
            font-family: Lato;
            display: flex;
            align-items: center;
            img {
                width: 40px;
                padding-right: 10px;
            }
        }
    } 
}

body {
    -webkit-font-smoothing: antialiased;
}