.back-link
    .container
        a.d-flex.align-items-center(href="")
            span.back-link-arrow 
                img.w-100(src='../../../assets/images/Left_Arrow.svg', alt="")
            span.back-link-title COVID-19 Resource Center