.news
    .container
        .news-block
            .news-block-title 
                p.title.mb-0 Provider News

            .news-block-list.w-100.d-flex.flex-wrap
                a.d-flex.align-items-center(href="")
                    .news-block-list-img
                        img.w-100(src='../../../assets/images/round.svg', alt="")
                    .news-block-list-desc California

                a.d-flex.align-items-center(href="")
                    .news-block-list-img
                        img.w-100(src='../../../assets/images/round.svg', alt="")
                    .news-block-list-desc Colorado

                a.d-flex.align-items-center(href="")
                    .news-block-list-img
                        img.w-100(src='../../../assets/images/round.svg', alt="")
                    .news-block-list-desc Connecticut

                a.d-flex.align-items-center(href="")
                    .news-block-list-img
                        img.w-100(src='../../../assets/images/round.svg', alt="")
                    .news-block-list-desc Georgia