.news
    .container
        .news-block
            .news-block-title 
                p.title.mb-0 Provider News

            .news-block-list.w-100.d-flex.flex-wrap
                a.menu-item.d-flex.align-items-center(href="")
                    img(src='../../../assets/images/round.svg', alt="")
                    | California
                a.menu-item.d-flex.align-items-center(href="")
                    img(src='../../../assets/images/round.svg', alt="")
                    | Colorado
                a.menu-item.d-flex.align-items-center(href="")
                    img(src='../../../assets/images/round.svg', alt="")
                    | Connecticut
                a.menu-item.d-flex.align-items-center(href="")
                    img(src='../../../assets/images/round.svg', alt="")
                    | Georgia
                a.menu-item.d-flex.align-items-center(href="")
                    img(src='../../../assets/images/round.svg', alt="")
                    | California
                a.menu-item.d-flex.align-items-center(href="")
                    img(src='../../../assets/images/round.svg', alt="")
                    | California