.container
    .help
        .help-grid-tools
            .help-grid-tools-body
                a.help-access(href="" target='_blank')
                    .help-access-content.help-rules.d-flex.align-items-center.justify-content-between
                        h3.title.help-text Assess Your Symptoms
                        img(src='../../../assets/images/sym.png', alt="")
                a.help-access(href="" target='_blank')
                    .help-access-setup.d-flex.align-items-center.justify-content-between
                        h3.title.help-text Set Up a Virtual Doctor Visit
                        img(src='../../../assets/images/setup.png', alt="")
                a.help-access(href="" target='_blank')
                    .help-find.help-rules.d-flex.align-items-center.justify-content-between
                        h3.title.help-text Find a Testing Center
                        img(src='../../../assets/images/hlp-fnd.png', alt="")
            .help-view-tools
                a.view-all(href="" aria-label="view all resources tools") View All Tools






//- .help
//-     .container
//-         .help-block
//-             .help-block-header.d-flex.justify-content-between.flex-column.flex-lg-row
//-                 h1.title.help-title.mb-0 Coronavirus (COVID-19) Resource Center
//-                 .help-block-header-section.w-100
//-                     .content.text-right
//-                         h6.content-title HOW CAN WE HELP?
//-                         p.content-description We’re committed to supporting you <br> during this uncertain time.
//-         .help-grid
//-             .help-grid-img
//-                 img(src='../../../assets/images/backgrnd.png', alt="")
            
//-             .help-grid-tools
//-                 .help-grid-tools-body
//-                     a.help-access(href="" target='_blank')
//-                         .help-access-content.help-rules.d-flex.align-items-center.justify-content-between
//-                             h3.title.help-text Assess Your Symptoms
//-                             img(src='../../../assets/images/sym.png', alt="")
//-                     a.help-access(href="" target='_blank')
//-                         .help-access-setup.d-flex.align-items-center.justify-content-between
//-                             h3.title.help-text Set Up a Virtual Doctor Visit
//-                             img(src='../../../assets/images/setup.png', alt="")
//-                     a.help-access(href="" target='_blank')
//-                         .help-find.help-rules.d-flex.align-items-center.justify-content-between
//-                             h3.title.help-text Find a Testing Center
//-                             img(src='../../../assets/images/hlp-fnd.png', alt="")
//-                 .help-view-tools
//-                     a.view-all(href="" aria-label="view all resources tools") View All Tools