.custom-embedd
    .container
        .embedd-block.row
            .embedd-block-video.col-12.col-lg-6
                <iframe src="https://www.youtube.com/embed/Otb8GOIf-yU" width="100%" height="320"></iframe>
            .embedd-block-content.col-12.col-lg-6
                .title Check-in with Dr. Liburd
                p.description Watch a special message for Medicare Advantage members about getting help and staying connected during the coronavirus outbreak, from our Chief Medical Director, Dr. Liburd.
