.container
    .footer
        ul.footer-list.d-lg-flex.flex-lg-wrap
            li.footer-list-item
                a.footer-text(href="" target='_blank') About Us
            li.footer-list-item
                a.footer-text(href="" target='_blank') Accessibility
            li.footer-list-item
                a.footer-text(href="" target='_blank') Anthem.com
                    span.fa.fa-external-link
            li.footer-list-item
                a.footer-text(href="" target='_blank') Privacy
            li.footer-list-item
                a.footer-text(href="" target='_blank') Nondiscrimination Notice
        .footer-copyright
            p.copy-text.text-center &copy; 2020 copyright Anthem Insurance Companies, Inc.
        




//- .footer-block
//-     .container
//-         .row
//-             .col-12.col-md-4
//-                 .footer-column
//-                     ul.footer-column-list
//-                         li
//-                             a.footer-item(href="" target='_blank') About Us
//-                         li
//-                             a.footer-item(href="" target='_blank') Privacy

//-             .col-12.col-md-4
//-                 .footer-column
//-                     ul.footer-column-list
//-                         li
//-                             a.footer-item(href="" target='_blank') Accessibility
//-                         li
//-                             a.footer-item(href="" target='_blank') Nondiscrimination Notice

//-             .col-12.col-md-4
//-                 .footer-column
//-                     ul.footer-column-list
//-                         li
//-                             a.footer-item(href="" target='_blank') Anthem.com
//-                                 span.fa.fa-external-link
                    
//-                     .dropdown.btn-group.dropup
//-                         button#menu1.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown') Select a language
//-                             span.caret
//-                         ul.dropdown-menu(role='menu' aria-labelledby='menu1')
//-                             li(role='presentation')
//-                                 a(role='menuitem' tabindex='-1' href='#') Español
//-                             li(role='presentation')
//-                                 a(role='menuitem' tabindex='-1' href='#') 中文
//-                             li(role='presentation')
//-                                 a(role='menuitem' tabindex='-1' href='#') 한국어
//-                             li(role='presentation')
//-                                 a(role='menuitem' tabindex='-1' href='#') Tiếng Việt
//-                             li(role='presentation')
//-                                 a(role='menuitem' tabindex='-1' href='#') Shqip
//-                             li(role='presentation')
//-                                 a(role='menuitem' tabindex='-1' href='#') հայերեն
//-                             li(role='presentation')
//-                                 a(role='menuitem' tabindex='-1' href='#') አማርኛ
//-                             li(role='presentation')
//-                                 a(role='menuitem' tabindex='-1' href='#') Русский
//-                             li(role='presentation')
//-                                 a(role='menuitem' tabindex='-1' href='#') Nederland
//-                             li(role='presentation')
//-                                 a(role='menuitem' tabindex='-1' href='#') Igbo
//-                             li(role='presentation')
//-                                 a(role='menuitem' tabindex='-1' href='#') Bahasa Indonesia
//-                             li(role='presentation')
//-                                 a(role='menuitem' tabindex='-1' href='#') Kirundi
//-                             li(role='presentation')
//-                                 a(role='menuitem' tabindex='-1' href='#') Oromifaa
//-                             li(role='presentation')
//-                                 a(role='menuitem' tabindex='-1' href='#') Deitsch
//-                             li(role='presentation')
//-                                 a(role='menuitem' tabindex='-1' href='#') ไทย
//-                             li(role='presentation')
//-                                 a(role='menuitem' tabindex='-1' href='#') Украïнськ
//-                             li(role='presentation')
//-                                 a(role='menuitem' tabindex='-1' href='#') Bassa
//-                             li(role='presentation')
//-                                 a(role='menuitem' tabindex='-1' href='#') বাঙালি
//-                             li(role='presentation')
//-                                 a(role='menuitem' tabindex='-1' href='#') Dinka
//-                             li(role='presentation')
//-                                 a(role='menuitem' tabindex='-1' href='#') Français
//-                             li(role='presentation')
//-                                 a(role='menuitem' tabindex='-1' href='#') Deutsche
//-                             li(role='presentation')
//-                                 a(aria-label='Gujarati' role='menuitem' tabindex='-1' href='#') ગુજરાતી
//-                             li(role='presentation')
//-                                 a(aria-label="Haitian" role='menuitem' tabindex='-1' href='#') Kreyòl-Ayisyen
//-                             li(role='presentation')
//-                                 a(aria-label="Hindi" role='menuitem' tabindex='-1' href='#') हिंदी
//-                             li(role='presentation')
//-                                 a(aria-label="Hmong" role='menuitem' tabindex='-1' href='#') Hmong
//-                             li(role='presentation')
//-                                 a(aria-label="llokano" role='menuitem' tabindex='-1' href='#') Iiokano
//-                             li(role='presentation')
//-                                 a(aria-label="Italian" role='menuitem' tabindex='-1' href='#') Italiano
//-                             li(role='presentation')
//-                                 a(aria-label="Japanese" role='menuitem' tabindex='-1' href='#') 日本語
//-                             li(role='presentation')
//-                                 a(aria-label="Khmer" role='menuitem' tabindex='-1' href='#') ភាសាខ្មែរ
//-                             li(role='presentation')
//-                                 a(aria-label="Lao" role='menuitem' tabindex='-1' href='#') ລາວ
//-                             li(role='presentation')
//-                                 a(aria-label="Nepali" role='menuitem' tabindex='-1' href='#') नेपाली
//-                             li(role='presentation')
//-                                 a(aria-label="Polish" role='menuitem' tabindex='-1' href='#') Polski
//-                             li(role='presentation')
//-                                 a(aria-label="Portuguese - Europe" role='menuitem' tabindex='-1' href='#') Português
//-                             li(role='presentation')
//-                                 a(aria-label="Punjabi" role='menuitem' tabindex='-1' href='#') ਪੰਜਾਬੀ ਦੇ
//-                             li(role='presentation')
//-                                 a(aria-label="Romanian" role='menuitem' tabindex='-1' href='#') Română
//-                             li(role='presentation')
//-                                 a(aria-label="Samoan" role='menuitem' tabindex='-1' href='#') Samoan
//-                             li(role='presentation')
//-                                 a(aria-label="Serbian" role='menuitem' tabindex='-1' href='#') Српски
//-                             li(role='presentation')
//-                                 a(aria-label="Yoruba" role='menuitem' tabindex='-1' href='#') Yorùbá
//-                             li(role='presentation')
//-                                 a(aria-label="Urdu" role='menuitem' tabindex='-1' href='#') اردو
//-                             li(role='presentation')
//-                                 a(aria-label="Farsi" role='menuitem' tabindex='-1' href='#') Farsi
//-                             li(role='presentation')
//-                                 a(aria-label="Arabic" role='menuitem' tabindex='-1' href='#') العربية
//-                             li(role='presentation')
//-                                 a(aria-label="Greek" role='menuitem' tabindex='-1' href='#') ελληνικά
//-                             li(role='presentation')
//-                                 a(aria-label="Navajo" role='menuitem' tabindex='-1' href='#') Diné
//-                             li(role='presentation')
//-                                 a(aria-label="Navajo" role='menuitem' tabindex='-1' href='#')
//-                                     img(src='../../../assets/images/Burmese-Title.png', alt="Burmese")
//-                             li(role='presentation')
//-                                 a(aria-label="Hebrew" role='menuitem' tabindex='-1' href='#') ייִדיש

                    
                            


//-             .col-12
//-                 .footer-copyright
//-                     p.copy-text.text-center &copy; 2020 copyright Anthem Insurance Companies, Inc.

//-             .footer-mark
//-                 p Y0114_20_121463_I_C_E
                            
