div.head
    div.container
        div.header.row
            div.col-6
                a.header-logo(href="")
                    img(src='../../../assets/images/logo.svg', alt="Anthem Blue Cross and Blue Shield")
            div.col-6
                .menu-close
                    .hamburger-menu
                        .bar1
                        .bar2
                        .bar3

        div.menu
            div.row
                div.col-md-8
                    div.menu-list
                        ul.menu-list-item.d-flex
                            li.header-item.footer-list-item
                                a.menu-item(href='#') Individual &amp; Family
                            li.header-item.footer-list-item
                                a.menu-item(href='#') Medicare
                            li.header-item.footer-list-item
                                a.menu-item(href='#') Medicaid
                            li.header-item.footer-list-item
                                a.menu-item(href='#') Employers &amp; Producers
                            li.header-item.footer-list-item
                                a.menu-item(href='#') Providers
                div.col-md-4.d-flex.justify-content-end
                    div.menu-options
                        ul.menu-list-item
                            li.header-item.footer-list-item
                                a.menu-item(href='#') Español 

                    div.log-in
                        a.btn-item(href='#') Log In

//- .....For Mobile Purpose.....
.ham-burger-block
    ul.menu-list-item
        li
            a.menu-item(href='#') Individual &amp; Family
        li
            a.menu-item(href='#') Medicare
        li
            a.menu-item(href='#') Medicaid
        li
            a.menu-item(href='#') Employers &amp; Producers
        li
            a.menu-item(href='#') Providers
        li
            a.btn-item(href='#') Log In
        li
            a.menu-item(href='#') Español