.header-container {
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	padding: 0 10px;
	position: relative;
	.header-text {
		color: #000;
		margin: 0;
		padding: 5px 0;
		font-family: 'Times New Roman', Times, serif;
	}
	.header-toast-msg {
		position: absolute;
		top: 10px;
		left: 0;
		right: 0;
		text-align: center;
		span {
			background: limegreen;
    		padding: 3px 10px;
		}
	}
}
@media only screen and (max-width:425px) {
	.header-container {
		.header-toast-msg {
			right: 0;
			text-align: right;
			top: 9px;
			margin-right: 15px;
		}
	}
}