//bootstrap css link.
link(rel='stylesheet', type='text/css', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
//- link(rel='stylesheet', type='text/css', href='/bower_components/jquery.selectBoxIt/src/stylesheets/jquery.selectBoxIt.css')

//js files needed for bootstrap framework
script(src="/bower_components/jquery/dist/jquery.min.js")
script(src="/bower_components/popper.js/dist/umd/popper.min.js")
script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
script(src="/bower_components/jquery.selectBoxIt/libs/jqueryUI/jquery-ui.js")
//- script(src="/bower_components/jquery.selectBoxIt/src/javascripts/jquery.selectBoxIt.min.js")