script(src="../../../bower_components/jquery/dist/jquery.min.js")
script(src="../../../bower_components/popper.js/dist/umd/popper.min.js")
script(src="../../../bower_components/jquery-ui/jquery-ui.min.js")
script(src="../../../bower_components/bootstrap/dist/js/bootstrap.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/fontawesome.min.js")

//- do not remove below inject:js 
//- inject:js


script(type="text/javascript" src="../../../markup/components/header/header-component.js")
script(type="text/javascript" src="../../../markup/components/accordion/accordion-component.js")

//- endinject
//- do not remove above endinject
