link(rel='stylesheet', type='text/css', href='../../../bower_components/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
link(rel="stylesheet" type="text/css" href="../../../styles/app.css")
//- Custom Files

//- .....Header and Footer.....
link(rel="stylesheet" type="text/css" href="../../../markup/components/header/header-component.css")
link(rel="stylesheet" type="text/css" href="../../../markup/components/footer/footer-component.css")

//- .....Body component styles.....
link(rel="stylesheet" type="text/css" href="../../../markup/components/help/help-component.css")
link(rel="stylesheet" type="text/css" href="../../../markup/components/accordion/accordion-component.css")