doctype html
html(lang='en')
    head
        include markup/includes/_meta-tags.pug
        
        title Anthem - UI
        
        link(rel='icon', href='favicon.ico', type='image/x-icon')
        script(type="text/javascript")
            |window.location.assign("markup/pages/landing/landing.html")