.total-amount-container
    .total-header-text Total
    .total-item-amount-section
        .total-items 
            div.total-items-added Items
            div Discount
            div Type Discount
        .total-item-disc
            div : 
            div : 
            div : 
        .total-item-price
            div.total-price 0
            div.disc-price 0
            div 0
    .order-total
        div.order-total-text Order Total
        div : 
        div.item-sub-total 0